*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "poppins", sans-serif;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: url("ashesi.jpeg") no-repeat;
    background-size: cover;
    background-position: center;
}
.wrapper{
    width: 420px;
    background-color: transparent;
    border: 2px solid rgb(255, 255, 255,.2);
    backdrop-filter: blur(15px);
    box-shadow: 0 0 10px rgb(0, 0, 0,.2);
    color: #fff;
    border-radius: 10px;
    padding: 30px 40px;
}
.wrapper h1{
    font-size: 36px;
    text-align: center;
}
