*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

body{
    background-size: cover;
    background-color: maroon;
    color:#fff;
}

.container{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
}
.container h1{
    font-size: 30px;
    text-align: center;
    text-transform: uppercase;
    margin: 30px 0;
}
.container p{
    font-size: 20px;
    margin:15px 0;

}
.container input{
    font-size: 16px;
    padding: 15px 10px;
    width: 100%;
    border: 0;
    border-radius: 5px;
    outline: none;

}
.container button{
    font-size: 18px;
    font-weight:bold;
    margin: 20px 0;
    padding:10px 15px;
    width:50%;
    border: 0;
    border-radius: 5px;
    background-color:#fff ;
}
.container select{
    font-size: 16px;
    padding: 15px 10px;
    width: 100%;
    border: 0;
    border-radius: 5px;
    outline: none;

}