.main-content {
    flex: 1;  
    display: flex;
    justify-content: space-between;
    padding: 20px;
    max-width: 1200px;
    margin: 0 auto;
}
.article-container {
    width: 60%;
    margin: 20px auto;
    flex: 1;
    width: 70%;
    margin: 20px auto;
    display: flex;
    flex-direction: column;
}

.article-box {
    background: #f5f5f5;
    padding: 20px;
    margin-bottom: 15px;
    border-radius: 10px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
}

.article-box h3 {
    margin: 0 0 10px;
    font-size: 20px;
}

.article-box a {
    color: #007bff;
    text-decoration: none;
    font-weight: bold;
}

.article-box a:hover {
    text-decoration: underline;
}